nav.TOC span, nav.minitoc span{display: block;}

body {
  display: flex;
  flex-direction: row;
}

nav.TOC {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* šířka levého sloupce */
  height: 100vh; /* výška menu */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.sectionTOCS{
  position: fixed;
  top: 0;
  left: 100%;
  margin-left: -300px;
  width: 300px; /* šířka levého sloupce */
}
 .sectionTOCS .likesectionToc, .sectionTOCS .sectionToc,
 .sectionTOCS .likesubsectionToc, .sectionTOCS .subsectionToc,
 .sectionTOCS .likesubsectionToc, .sectionTOCS .subsectionToc,
 .sectionTOCS .likesubsubsectionToc, .sectionTOCS .subsubsectionToc {margin-left:0em;}


main.main-content {
  flex: 1; /* zbývající prostor pro hlavní obsah */
  padding: 20px;
}

nav.TOC span.chapterToc {
  display: block;
  margin-bottom: 10px;
}

nav.TOC span.sectionToc {
  display: none;
  margin-left: 20px;
}

nav.TOC span.chapterToc.clicked ~ span.sectionToc {
  display: block;
}
nav.TOC span.chapterToc.clicked ~ span.chapterToc ~ span.sectionToc{
  display: none;
}

