name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Build and Deploy HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run make4ht
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            set -euxo pipefail
            rm -rf out
            cd tex
            make4ht -c web.cfg -lj index -a notice -d out trdelniky.cs.tex "mathjax"
            cp html/google5fe6afe7d7955962.html out

      - name: Publish the web pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./tex/out
          publish_branch: gh-pages
